
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
   
}

.nav {
    background-color: #222;
    border-bottom: 4px solid #111;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav p {    
    color:  #FCBA03;
    margin-right: 15px;
}

.nav p:hover {
    color: white;
}
.nav a {
   
   text-decoration: none;
}

#logo{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 45px;
    margin: auto;
    margin-left: 0;
    padding: 20px;
}

#image {
    display: flex;
}

